<!DOCTYPE html>
<html>

    <head>
        <title>GT Food Truck</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>

    <body>

        <div class="container">

            <div class="container-content">
                <h2>GT Food Truck</h2>
                
                <form method="POST">

                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username"><br><br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" minlength="8"><br><br>
                    <div class="buttons">
                        <button type="submit">Log In</button>
                        <button type="submit">Register</button>
                    </div>

                </form>
                
            </div>
            
            
        </div>
        
    </body>



</html>